<template>
    <form class="w-full" style="min-width:400px" @submit.prevent="storeModel">
        <div class=" sm:col-span-4">
            <jet-label for="name" value="Name" />
            <jet-input class="w-full" type="text" id="name" name="name" v-model="form.name"
                       :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.name}"
            ></jet-input>
            <jet-input-error :message="form.errors.name" class="mt-2" />
        </div>
            
        <div class=" sm:col-span-4">
            <jet-label for="type" value="Type" />
            <jet-input class="w-full" type="text" id="type" name="type" v-model="form.type"
                       :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.type}"
            ></jet-input>
            <jet-input-error :message="form.errors.type" class="mt-2" />
        </div>
            
        <div class=" sm:col-span-4">
            <jet-label for="color" value="Color" />
            <jet-input class="w-full" type="text" id="color" name="color" v-model="form.color"
                       :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100'
                       : form.errors.color}"
            ></jet-input>
            <jet-input-error :message="form.errors.color" class="mt-2" />
        </div>
            
        <div class=" sm:col-span-4">
            <jet-label for="start_date" value="Start Date" />
            <jig-datepicker class="w-full"
                            data-date-format="Y-m-d H:i:s"
                            :data-alt-input="true"
                            data-alt-format="Y-m-d H:i:s"
                            data-default-hour="9"
                            :data-enable-time="true"
                            :data-time_24hr="true"
                            name="start_date"
                            v-model="form.start_date"
                            id="start_date"
                            :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.start_date}"
            ></jig-datepicker>
            <jet-input-error :message="form.errors.start_date" class="mt-2" />
        </div>
            
        <div class=" sm:col-span-4">
            <jet-label for="end_date" value="End Date" />
            <jig-datepicker class="w-full"
                            data-date-format="Y-m-d H:i:s"
                            :data-alt-input="true"
                            data-alt-format="Y-m-d H:i:s"
                            data-default-hour="9"
                            :data-enable-time="true"
                            :data-time_24hr="true"
                            name="end_date"
                            v-model="form.end_date"
                            id="end_date"
                            :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.end_date}"
            ></jig-datepicker>
            <jet-input-error :message="form.errors.end_date" class="mt-2" />
        </div>
                
        <div class="mt-2 text-right">
            <inertia-button type="submit" class="font-semibold bg-success disabled:opacity-25" :disabled="form.processing">Submit</inertia-button>
        </div>
    </form>
</template>

<script>
    import JetInput from "@/Jetstream/Input.vue";
    import JetLabel from "@/Jetstream/Label.vue";
    import InertiaButton from "@/JigComponents/InertiaButton.vue";
    import JetInputError from "@/Jetstream/InputError.vue"
    import {defineComponent } from "vue";
    import JigDatepicker from "@/JigComponents/JigDatepicker.vue";

    export default defineComponent({
        name: "AddEventForm",
        components: {
            InertiaButton,
            JetInputError,
            JetLabel,
            JetInput,
            JigDatepicker
        },
        props: {
            form:Object
        },
        data() {
            return {

            }
        },
        mounted() {
        },
        computed: {
            flash() {
                return this.$page.props.flash || {}
            }
        },
        methods: {
            async storeModel() {
                this.form.post(this.route('admin.events.store'),{
                    onSuccess: res => {
                        if (this.flash.success) {
                            this.$emit('success',this.flash.success);
                        } else if (this.flash.error) {
                            this.$emit('error',this.flash.error);
                        } else {
                            this.$emit('error',"Unknown server error.")
                        }
                    },
                    onError: res => {
                        this.$emit('error',"A server error occurred");
                    }
                },{remember: false, preserveState: true})
            }
        }
    });
</script>

<style scoped>

</style>
