<template>
    <form class="w-full" style="min-width:400px" @submit.prevent="storeModel" >
        <div class=" sm:col-span-4">
            <jet-label for="start_date" value="Start Date" />
            <jig-datepicker class="w-full"
                            data-date-format="Y-m-d H:i:s"
                            :data-alt-input="true"
                            data-alt-format="Y-m-d H:i:s"
                            data-default-hour="9"
                            :data-enable-time="true"
                            :data-time_24hr="true"
                            name="start_date"
                            v-model="form.start_date"
                            id="start_date"
                            :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.start_date}"
            ></jig-datepicker>
            <jet-input-error :message="form.errors.start_date" class="mt-2" />
        </div>
            
        <div class=" sm:col-span-4">
            <jet-label for="end_date" value="End Date" />
            <jig-datepicker class="w-full"
                            data-date-format="Y-m-d H:i:s"
                            :data-alt-input="true"
                            data-alt-format="Y-m-d H:i:s"
                            data-default-hour="9"
                            :data-enable-time="true"
                            :data-time_24hr="true"
                            name="end_date"
                            v-model="form.end_date"
                            id="end_date"
                            :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.end_date}"
            ></jig-datepicker>
            <jet-input-error :message="form.errors.end_date" class="mt-2" />
        </div>
        <div class=" sm:col-span-4">
            <jet-label for="group" value="Group" />
            <infinite-select :per-page="15" :api-url="route('api.groups.index')"
                             id="group" name="group"
                             v-model="form.group" label="name"
                             :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.group}"
            ></infinite-select>
            <jet-input-error :message="form.errors.group" class="mt-2" />
        </div>
        <div class=" sm:col-span-4">
            <jet-label for="module" value="Module" />
            <infinite-select :per-page="15" :api-url="route('api.modules.index')"
                             id="module" name="module"
                             v-model="form.module" label="name"
                             :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.module}"
            ></infinite-select>
            <jet-input-error :message="form.errors.module" class="mt-2" />
        </div>
            <div class=" sm:col-span-4">
            <jet-label for="session_type" value="Session Type" />
            <infinite-select :per-page="15" :api-url="route('api.session-types.index')"
                             id="session_type" name="session_type"
                             v-model="form.session_type" label="type"
                             :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.session_type}"
            ></infinite-select>
            <jet-input-error :message="form.errors.session_type" class="mt-2" />
        </div>
        <div class=" sm:col-span-4">
            <jet-label for="sale" value="Sale" />
            <infinite-select :per-page="15" :api-url="route('api.sales.index')"
                             id="sale" name="sale"
                             v-model="form.sale" label="name"
                             :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.sale}"
            ></infinite-select>
            <jet-input-error :message="form.errors.sale" class="mt-2" />
        </div>
        <div class=" sm:col-span-4">
            <jet-label for="user" value="User" />
            <infinite-select :per-page="15" :api-url="route('api.users.index')"
                             id="user" name="user"
                             v-model="form.user" label="name"
                             :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.user}"
            ></infinite-select>
            <jet-input-error :message="form.errors.user" class="mt-2" />
        </div>

        <div class="mt-2 text-right">
            <inertia-button type="submit" class="font-semibold bg-success disabled:opacity-25" :disabled="form.processing">Submit</inertia-button>
        </div>
    </form>
</template>

<script>
    import JigDatepicker from "@/JigComponents/JigDatepicker.vue";
    import InfiniteSelect from '@/JigComponents/InfiniteSelect.vue';
    import JetLabel from "@/Jetstream/Label.vue";
    import InertiaButton from "@/JigComponents/InertiaButton.vue";
    import JetInputError from "@/Jetstream/InputError.vue"
    import { defineComponent } from "vue";

    export default defineComponent({
        name: "AddSessionsForm",
        components: {
            InertiaButton,
            JetInputError,
            JetLabel,
            JigDatepicker,
            InfiniteSelect,
        },
        props: {
            form:Object
        },
        data() {
            return {
            }
        },
        mounted() {
        },
        computed: {
            flash() {
                return this.$page.props.flash || {}
            }
        },
        methods: {
            async storeModel() {
                this.form.post(this.route('admin.sessions.store'),{
                    onSuccess: res => {
                        if (this.flash.success) {
                            this.$emit('success',this.flash.success);
                        } else if (this.flash.error) {
                            this.$emit('error',this.flash.error);
                        } else {
                            this.$emit('error',"Unknown server error.")
                        }
                    },
                    onError: res => {
                        this.$emit('error',"A server error occurred");
                    }
                },{remember: false, preserveState: true})
            }
        }
    });
</script>

<style scoped>

</style>
