<template>
    <jig-layout>
        <template #header>
            <div class="flex flex-wrap items-center justify-between w-full ">
                <inertia-link :href="route('admin.dashboard')" class="text-xl font-black text-white"><i class="fas fa-arrow-left"></i> Back</inertia-link>
                <!-- <div v-if="message" class="notification is-success">{{ message }}</div> -->
                <div>
                    <div class="control">
                        <infinite-select :per-page="15" :api-url="route('api.users.index')"
                             id="user" name="user" :placeholder="'Filter by Professor'" @close="agendaItems"
                             v-model="selected_user" label="name"
                             :class="'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100 agenda_select_filters'"
                        ></infinite-select>
                        <infinite-select :per-page="15" :api-url="route('api.groups.index')" @close="agendaItems"
                            id="group" name="group" :placeholder="'Filter by Groupe'"
                            v-model="selected_group" label="name"
                            :class="'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100 agenda_select_filters'"
                        ></infinite-select>
                        <infinite-select :per-page="15" :api-url="route('api.modules.index')" @close="agendaItems"
                            id="module" name="module" :placeholder="'Filter by Module'"
                            v-model="selected_Module" label="name"
                            :class="'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100 agenda_select_filters'"
                        ></infinite-select>
                        <select class="m-2" v-model="displayPeriodUom" @change="onDisplayPeriodUomChange($event)">
                            <option>month</option>
                            <option>week</option>
                            <option>year</option>
                        </select>
                        <select class="m-2" v-model="displayPeriodCount">
                            <option :value="1">1</option>
                            <option :value="2">2</option>
                            <option :value="3">3</option>
                            <option :value="4">4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap items-center justify-end w-full ">
                <inertia-button @click="addSession(null)" classes="bg-green-100 hover:bg-green-200 text-primary m-2"><i class="far fa-calendar-plus"></i> New Session</inertia-button>
                <inertia-button @click="addEvent(null)" classes="bg-green-100 hover:bg-green-200 text-primary m-2"><i class="fas fa-globe-africa"></i> New Event</inertia-button>
                <inertia-button @click="agendaItems()" classes="bg-indigo-100 hover:bg-green-200 text-indigo m-2"><i class="fas fa-sync-alt"></i> Refresh</inertia-button>
                <inertia-button :disabled="!((this.displayPeriodUom == 'week' && this.displayPeriodCount  == 1),(this.selected_user != null || this.selected_group  != null ))" @click="print()" classes="bg-indigo-100 hover:bg-green-200 text-indigo m-2"><i class="fas fa-print"></i> Print</inertia-button>
            </div>
        </template>
        <!-- Add new Event Modal -->
        <vue-final-modal v-model="addEventModal" :drag="true" :resize="true"
            :resize-directions="['t', 'tr', 'r', 'br', 'b', 'bl', 'l', 'tl']" classes="modal-container" content-class="modal-content">
            <button class="modal__close" @click="addEventModal = false">
                <span>X</span>
            </button>
            <span class="modal__title">Add Event at {{this.selected_date.toLocaleDateString()}}</span>
            <div class="modal__content">
                <add-event-form :form="newEvent" @success="onAddEventSuccess" @error="onAddEventError" ></add-event-form>
            </div>
        </vue-final-modal>

        <!-- Add New Session Modal -->
        <vue-final-modal v-model="addSessionModal" :drag="true" :resize="true"
            :resize-directions="['t', 'tr', 'r', 'br', 'b', 'bl', 'l', 'tl']" classes="modal-container" content-class="modal-content">
            <button class="modal__close" @click="addSessionModal = false">
                <span>X</span>
            </button>
            <span class="modal__title">Add Session at {{this.selected_date.toLocaleDateString()}}</span>
            <div class="modal__content">
                <add-sessions-form :form="newSession" @success="onAddSessionSuccess" @error="onAddSessionError" ></add-sessions-form>
            </div>
        </vue-final-modal>
        
        <!-- Edit Session Modal -->
        <vue-final-modal v-model="editSessionModal" :drag="true" :resize="true"
            :resize-directions="['t', 'tr', 'r', 'br', 'b', 'bl', 'l', 'tl']" classes="modal-container" content-class="modal-content">
            <button class="modal__close" @click="editSessionModal = false">
                <span>X</span>
            </button>
            <span class="modal__title">Edit Session #{{selectedItem != null ? selectedItem.id.substring(2) : ''}} </span>
            <div class="modal__content">
                <edit-sessions-form :form="sessionToEdit" @success="onEditSessionSuccess" @error="onAEditSessionError" ></edit-sessions-form>
            </div>
        </vue-final-modal>

        <!--Show Session Modal  -->
        <div v-if="showSessionModal && selectedItem">
            <jig-modal
                :show="showSessionModal"
                corner-class="rounded-lg"
                position-class="align-middle"
                @close="selectedItem = null; showSessionModal = false">

                <template #title>Show Session #{{selectedItem != null ? selectedItem.id.substring(2) : ""}}</template>
                <!-- <show-sessions-form :model="selectedItem"></show-sessions-form> -->
                <show-agenda-item :model="selectedItem" ></show-agenda-item>
                <template #footer>
                    <inertia-button class="px-4 text-white bg-danger"  @click="confirmDeletion()" title="Delete"><i class="far fa-trash-alt fa-lg"></i></inertia-button>
                    <inertia-button class="px-4 text-white bg-warning" @click="duplicateSession()" title="Duplicate"><i class="far fa-clone fa-lg"></i></inertia-button>
                    <inertia-button class="px-4 text-white bg-success" @click="showEditSessionModal()" title="Edit"><i class="far fa-edit fa-lg"></i></inertia-button>
                    <inertia-button class="px-4 text-white bg-primary" @click="showSessionModal = false; selectedItem = null" title="Close"><i class="far fa-window-close fa-lg"></i></inertia-button>
                </template>
            </jig-modal>
        </div>
        
        <!-- Show Event Modal -->
         <div v-if="showEventModal && selectedItem">
            <jig-modal
                :show="showEventModal"
                corner-class="rounded-lg"
                position-class="align-middle"
                @close="selectedItem = null; showEventModal = false">

                <template #title>Show Event #{{selectedItem != null ? selectedItem.id.substring(2) :''}}</template>
                <!-- <show-sessions-form :model="selectedItem"></show-sessions-form> -->
                <show-events-form :model="selectedItem" ></show-events-form>
                <template #footer>
                    <inertia-button class="px-4 text-white bg-danger"  @click="confirmDeletion()" title="Delete"><i class="far fa-trash-alt fa-lg"></i></inertia-button>
                    <inertia-button class="px-4 text-white bg-success" @click="showEditEventModal()" title="Edit"><i class="far fa-edit fa-lg"></i></inertia-button>
                    <inertia-button class="px-4 text-white bg-primary" @click="showEventModal = false; selectedItem = null" title="Close"><i class="far fa-window-close fa-lg"></i></inertia-button>
                </template>
            </jig-modal>
        </div>
        <!-- Confirmation modal -->
        <jet-confirmation-modal title="Confirm Deletion" :show="confirmDelete">
            <template v-slot:content>
                <div>Are you sure you want to delete this record?</div>
            </template>
            <template v-slot:footer>
                <div class="flex justify-end gap-x-2">
                    <inertia-button as="button" type="button" @click.native.stop="cancelDelete" class="bg-red-500">Cancel</inertia-button>
                    <inertia-button as="button" type="button" @click.native.prevent="deleteModel" class="bg-green-500">Yes, Delete</inertia-button>
                </div>
            </template>
        </jet-confirmation-modal>
        <!-- v-if="can.viewAny" -->
        <div  class="agenda-sec flex flex-wrap">
            <div class="calendar-parent">
                <calendar-view
                    :items="items"
                    :show-date="showDate"
                    :time-format-options="{ hour: 'numeric', minute: '2-digit' ,hour12: false  }"
                    :enable-drag-drop="true"
                    :disable-past="disablePast"
                    :disable-future="disableFuture"
                    :show-times="showTimes"
                    :date-classes="myDateClasses"
                    :display-period-uom="displayPeriodUom"
                    :display-period-count="displayPeriodCount"
                    :starting-day-of-week="startingDayOfWeek"
                    :class="themeClasses"
                    :period-changed-callback="periodChanged"
                    :current-period-label="useTodayIcons ? 'icons' : ''"
                    :displayWeekNumbers="displayWeekNumbers"
                    :enableDateSelection="true" 
                    :enable-date-selection="true"
                    :selection-start="selectionStart"
                    :selection-end="selectionEnd"
                    @date-selection-start="setSelection"
                    @date-selection="setSelection"
                    @date-selection-finish="finishSelection"
                    @drop-on-date="onDrop"
                    @click-date="onClickDay"
                    @click-item="onClickItem"
                >
                    <template #header="{ headerProps }">
                        <calendar-view-header slot="header" :header-props="headerProps" @input="setShowDate" />
                    </template>
                </calendar-view>
            </div>
        </div>

    </jig-layout>
</template>

<script>
    import JigLayout from "@/Layouts/JigLayout.vue";
    import JetConfirmationModal from "@/Jetstream/ConfirmationModal.vue";
    import InertiaButton from "@/JigComponents/InertiaButton.vue";
    import DisplayMixin from "@/Mixins/DisplayMixin.js";
    import AddEventForm from "@/Pages/Agendas/AddEventForm.vue";
    import AddSessionsForm from "@/Pages/Agendas/AddSessionsForm.vue";
    import EditSessionsForm from "@/Pages/Agendas/EditSessionsForm.vue";
    import ShowAgendaItem from "@/Pages/Agendas/ShowAgendaItem.vue";
    import ShowEventsForm from "@/Pages/Events/ShowForm.vue";
    // import ShowSessionsForm from "@/Pages/Sessions/ShowForm.vue";
    import { defineComponent } from "vue";
    import {useForm} from "@inertiajs/inertia-vue3";
    import { CalendarView, CalendarViewHeader, CalendarMath } from "vue-simple-calendar";
    import { $vfm, VueFinalModal, ModalsContainer } from 'vue-final-modal';
    import JigToggle from "@/JigComponents/JigToggle.vue";
    import JigModal from "@/JigComponents/JigModal.vue";
    import InfiniteSelect from '@/JigComponents/InfiniteSelect.vue';
    import moment from 'moment';

	// import "/home/ismail/prof-pro/node_modules/vue-simple-calendar/dist/style.css"
	// import "/home/ismail/prof-pro/node_modules/vue-simple-calendar/static/css/default.css"
	// import "/home/ismail/prof-pro/node_modules/vue-simple-calendar/static/css/holidays-us.css"

    export default defineComponent({
        name: "Index",
        components: {
            InertiaButton,
            JetConfirmationModal,
            JigLayout,
			CalendarView,
			CalendarViewHeader,
            AddEventForm,
            VueFinalModal,
            ModalsContainer,
            AddSessionsForm,
            EditSessionsForm,
            ShowAgendaItem,
            // ShowSessionsForm,
            ShowEventsForm,
            JigToggle,
            JigModal,
            InfiniteSelect
        },
        props: {
            can: Object,
            columns: Array,
        },
        inject: ["$refreshDt","$dayjs"],
        data() {
            return {
                tableId: 'agendas-dt',
                tableParams: {},
                datatable: null,
                confirmDelete: false,
                currentModel: null,
                withDisabled: false,
                showModal: false,
                // showDate: new Date(),
                /* Show the current month, and give it some fake items to show */
                showDate: this.thisMonth(1),
                message: "",
                startingDayOfWeek: 1,
                disablePast: false,
                disableFuture: false,
                displayPeriodUom: "month",
                displayPeriodCount: 1,
                displayWeekNumbers: true,
                showTimes: true,
                selectionStart: null,
                selectionEnd: null,
                newItemTitle: "",
                newItemStartDate: "",
                newItemEndDate: "",
                useDefaultTheme: true,
                useHolidayTheme: true,
                useTodayIcons: false,
                items: [],
                addEventModal:false,
                addSessionModal:false,
                // showItemModal:false,
                showSessionModal: false,
                editSessionModal: false,
                showEventModal: false,
                selected_date:new Date(),
                newEvent: useForm({
                        name: null,
                        type: null,
                        color: null,
                        start_date: null,
                        end_date: null,
                    }, {remember: false}
                ),
                newSession: useForm({
                        start_date: null,
                        end_date: null,
                        "group": null,
                        "module": null,
                        "session_type": null,
                        "sale":null,
                        "user": null,
                    }, 
                    {remember: false}
                ),
                sessionToEdit:null,
                selectedItem: null,
                selected_group: null,
                selected_Module: null,
                selected_user: null,
            }
        },
        mixins: [
            DisplayMixin,
        ],
        mounted() {
            this.newItemStartDate = CalendarMath.isoYearMonthDay(CalendarMath.today());
            this.newItemEndDate = CalendarMath.isoYearMonthDay(CalendarMath.today());
            this.agendaItems()
        },
        computed: {
            flash() {
                return this.$page.props.flash || {}
            },
            userLocale() {
                return CalendarMath.getDefaultBrowserLocale
            },
            dayNames() {
                return CalendarMath.getFormattedWeekdayNames(this.userLocale, "long", 0)
            },
            themeClasses() {
                return {
                    "theme-default": this.useDefaultTheme,
                    "holiday-us-traditional": this.useHolidayTheme,
                    "holiday-us-official": this.useHolidayTheme,
                }
            },
            myDateClasses() {
                const o = {}
                const theFirst = this.thisMonth(1)
                const ides = [2, 4, 6, 9].includes(theFirst.getMonth()) ? 15 : 13
                const idesDate = this.thisMonth(ides)
                o[CalendarMath.isoYearMonthDay(idesDate)] = "ides"
                o[CalendarMath.isoYearMonthDay(this.thisMonth(21))] = ["do-you-remember", "the-21st"]
                return o
            },
        },
        methods: {
            periodChanged() {
                // console.log('periodChanged called');
            },
            agendaItems(){
                let sb_start_date = this.showDate;
                if(this.displayPeriodUom != 'week'){
                    sb_start_date = CalendarMath.addDays(sb_start_date , -14);
                }else{
                    sb_start_date = CalendarMath.addDays(sb_start_date , -7);
                }
                axios.get(route('api.agendas.index',{
                            'displayPeriodUom': this.displayPeriodUom ,
                            'displayPeriodCount' : this.displayPeriodCount ,
                            'start_date': sb_start_date.toLocaleDateString(),
                            'user': this.selected_user ? this.selected_user.id : null,
                            'group': this.selected_group ? this.selected_group.id : null,
                            'module': this.selected_Module ? this.selected_Module.id : null,
                        }
                    )).then(res => {
                        this.items = res.data.payload.items;
                })
            },
            onDisplayPeriodUomChange(){
                this.agendaItems()
            },
            addEvent(selected_date){
                if(selected_date != null){
                    this.selected_date = selected_date
                }
                this.newEvent.start_date = this.selected_date
                this.newEvent.end_date = this.selected_date
                this.addEventModal = true;
            },
            addSession(selected_date){
                if(selected_date != null){
                    this.selected_date = selected_date
                }
                this.newSession.start_date = selected_date
                this.newSession.end_date = selected_date
                this.addSessionModal = true;
            },
            thisMonth(d, h, m) {
                const t = new Date()
                return new Date(t.getFullYear(), t.getMonth(), d, h || 0, m || 0)
            },
            onClickDay(d) {
                this.selectionStart = null
                this.selectionEnd = null
                // this.message = `You clicked: ${d.toLocaleDateString()}`
                // this.addEvent(d)
                this.addSession(d)
            },
            onClickItem(e) {
                // this.message = `You clicked: ${e.title}`
                this.selectedItem = e.originalItem;
                if(e.originalItem.sessionType != null){
                    this.showSessionModal = true;
                }else if(e.originalItem.type != null){
                    this.showEventModal = true;
                }
            },
            setShowDate(d,elff) {
                // this.message = `Changing calendar view to ${d.toLocaleDateString()}`
                this.showDate = d
                this.agendaItems()
            },
            setSelection(dateRange) {
                this.selectionEnd = dateRange[1]
                this.selectionStart = dateRange[0]
            },
            finishSelection(dateRange) {
                this.setSelection(dateRange)
                // this.message = `You selected: ${this.selectionStart.toLocaleDateString()} -${this.selectionEnd.toLocaleDateString()}`
            },
            onDrop(item, date) {
                // Determine the delta between the old start date and the date chosen,
                // and apply that delta to both the start and end date to move the item.
                let elem_ = item.originalItem;
                let thos = this;
                if(elem_.sessionType != null){
                    const eLength = CalendarMath.dayDiff(item.startDate, date)
                    elem_.startDate = CalendarMath.addDays(item.startDate, eLength)
                    elem_.endDate = CalendarMath.addDays(item.endDate, eLength)
                    elem_.startDate = moment(elem_.startDate).format('YYYY-MM-DD HH:mm:s')
                    elem_.endDate = moment(elem_.endDate).format('YYYY-MM-DD HH:mm:s')
                    axios.get(route('api.sessions.show',elem_.id.substring(2))).then(res => {
                        let sess_draged =  useForm( res.data.payload, {remember: false});
                        sess_draged.start_date = elem_.startDate;
                        sess_draged.end_date = elem_.endDate;
                        sess_draged.put(this.route('admin.sessions.update',elem_.id.substring(2)),
                        {
                            onSuccess: res => {
                                if (this.flash.success) {
                                    thos.displayNotification('success',this.flash.success);
                                } else if (this.flash.error) {
                                    thos.displayNotification('error',this.flash.error);
                                    this.agendaItems()
                                } else {
                                    thos.displayNotification('error',"Unknown server error.");
                                    this.agendaItems()
                                }
                            },
                            onError: res => {
                                thos.displayNotification('error',"A server error occurred");
                                this.agendaItems()
                            }
                        },{remember: false, preserveState: true})

                    });
                }else if(elem_.type != null){
                    //Drage event and auther agenda items
                }
                
            },
            clickTestAddItem() {
                this.items.push({
                    startDate: this.newItemStartDate,
                    endDate: this.newItemEndDate,
                    title: this.newItemTitle,
                    id: "e" + Math.random().toString(36).substr(2, 10),
                })
                // this.message = "You added a calendar item!"
            },
            onAddEventSuccess(msg) {
                this.displayNotification('success',msg);
                this.agendaItems();
                this.addEventModal = false
            },
            onAddEventError(msg){
                this.displayNotification('error',msg);
            },
            onAddSessionSuccess(msg) {
                this.displayNotification('success',msg);
                this.agendaItems();
                this.addSessionModal = false
            },
            onAddSessionError(msg){
                this.displayNotification('error',msg);
            },
            // TODO EDIT AGENDA ITEMS (EVENTS ) 
            // DUPLACATE ITEMS 
            // SHOW SESSIONS STATISTIQUES BY DATE (MONTHS , WEEKS , YEAR) BY (MODULE , GROUP , SESSION TYPE , USER )
            showEditSessionModal(){
                // this.selectedItem = null;
                axios.get(route('api.sessions.show',this.selectedItem.id.substring(2))).then(res => {
                    this.sessionToEdit =  useForm( res.data.payload, {remember: false});
                    this.showSessionModal = false;
                    this.editSessionModal = true;
                });
            },
            onEditSessionSuccess(msg){
                this.agendaItems()
                this.displayNotification('success',msg);
                this.showSessionModal = false;
                this.editSessionModal = false;
            },
            onAEditSessionError(msg){
                this.displayNotification('error',msg);
                this.showSessionModal = false;
                // this.editSessionModal = false;
            },
            confirmDeletion() {
                if(this.selectedItem.sessionType != null){
                    this.showSessionModal = false;
                    this.confirmDelete = true;
                }else if(this.selectedItem.type != null){
                    this.showEventModal = false;
                    this.confirmDelete = true;
                }
            },
            cancelDelete() {
                this.confirmDelete = false;
            },
            async deleteModel() {
                const vm = this;
                this.confirmDelete = false;
                if (this.selectedItem.id) {
                    let delete_rout_name = 'admin.sessions.destroy';
                    if(this.selectedItem.sessionType != null){
                        delete_rout_name = 'admin.sessions.destroy';
                    }else if(this.selectedItem.type != null){
                        delete_rout_name = 'admin.events.destroy';
                    }
                    this.$inertia.delete(route(delete_rout_name, vm.selectedItem.id.substring(2)),{
                        onFinish: res => {
                            this.displayNotification('success', "Item deleted.");
                            this.agendaItems()
                        },
                        onError: err => {
                            console.log(err);
                            this.displayNotification('error', "There was an error while deleting the item.");
                        }
                    });
                }
            },
            showEditEventModal(){
                if(this.selectedItem.type != null){
                    this.$inertia.visit(this.route('admin.events.edit',this.selectedItem.id.substring(2)));
                }
            },
            duplicateSession(){
                axios.get(route('api.sessions.show',this.selectedItem.id.substring(2))).then(res => {
                    this.newSession =  useForm( res.data.payload, {remember: false});
                    this.showSessionModal = false;
                    // this.selected_date = this.newSession.start_date;
                    this.addSessionModal = true;
                });
            },
            async print() {
                // console.log((this.displayPeriodUom == 'week' && this.displayPeriodCount  == 1),(this.selected_user != null || this.selected_group  != null ))
                if(this.displayPeriodUom == 'week' && this.displayPeriodCount  == 1){
                    if(this.selected_user != null || this.selected_group  != null){
                        let cv_week_number_sp = this.$el.querySelector(".cv-weeknumber>span");
                        let cv_week_number = 0
                        if(cv_week_number_sp){
                            cv_week_number  = cv_week_number_sp.innerText 
                        }
                        let data_in = {
                            start_date: this.showDate.toLocaleDateString(),
                            cv_week_number : parseInt(cv_week_number),
                            user_id: this.selected_user ? this.selected_user.id : null,
                            group_id: this.selected_group ? this.selected_group.id : null,
                            module_id: this.selected_Module ? this.selected_Module.id : null,
                        };
                        await axios.get(this.route('api.agendas_print',data_in), { responseType: "blob" }).then(res => {
                            this.displayNotification('success', "Agenda Printed");
                            const blob = new Blob([res.data], { type: "application/pdf" });
                            const link = document.createElement("a");
                            link.href = URL.createObjectURL(blob);
                            link.download = 'agenda.pdf';
                            link.click();
                            URL.revokeObjectURL(link.href);
                        }).catch(err => {
                            this.displayNotification('error', err.response?.data?.message || err.message || err);
                        }).finally(res => {
                            // this.displayNotification('success', "finally");
                        });
                    }else{
                        this.displayNotification('error', "Please filter by Group Or Professor to print weekly agenda!");
                    }
                }else{
                    this.displayNotification('error', "You can only print agenda on 1 week mode/preiod !");
                }
            },
        }
    });
</script>

<style>
    button:disabled{
        cursor: not-allowed;
    }
    .agenda-sec{
        height: 650px;
        margin-top: -35px;
    }
    .calendar-controls {
        margin-right: 1rem;
        min-width: 14rem;
        max-width: 14rem;
    }
    .calendar-parent {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: white;
    }
    /* For long calendars, ensure each week gets sufficient height. The body of the calendar will scroll if needed */
    .cv-wrapper.period-month.periodCount-2 .cv-week,
    .cv-wrapper.period-month.periodCount-3 .cv-week,
    .cv-wrapper.period-year .cv-week {
        min-height: 6rem;
    }
    .theme-default .cv-item.bg-green-100{
        background-color: rgba(209,250,229,var(--tw-bg-opacity));
    }
    .theme-default .cv-item.bg-blue{
        background-color: #0d6efd;
    }
    .theme-default .cv-item.bg-indigo{
        background-color: #6610f2;
    }
    .theme-default .cv-item.bg-purple{
        background-color: #6f42c1;
    }
    .theme-default .cv-item.bg-pink{
        background-color: #d63384;
    }
    .theme-default .cv-item.bg-red{
        background-color: #dc3545;
    }
    .theme-default .cv-item.bg-orange{
        background-color: #fd7e14;
    }
    .theme-default .cv-item.bg-yellow{
        background-color: #ffc107;
    }
    .theme-default .cv-item.bg-green{
        background-color: #198754;
    }
    .theme-default .cv-item.bg-teal{
        background-color: #20c997;
    }
    .theme-default .cv-item.bg-cyan{
        background-color: #0dcaf0;
    }
    .theme-default .cv-day.ides {
        background-color: #ffe0e0;
    }
    .ides .cv-day-number::before {
        content: "\271D";
    }
    .cv-day.do-you-remember.the-21st .cv-day-number::after {
        content: "\1F30D\1F32C\1F525";
    }
    .agenda_select_filters{
        width: 200px;
        display: inline-block;
        margin-right: 10px;
    }
</style>

<style scoped>
    ::v-deep .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    ::v-deep .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    margin: 0 1rem;
    padding: 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    background: #fff;
    }
    .modal__title {
    margin: 0 2rem 0 0;
    font-size: 1.5rem;
    font-weight: 700;
    }
    .modal__content {
    flex-grow: 1;
    overflow-y: auto;
    }
    .modal__action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 1rem 0 0;
    }
    .modal__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    }
    .dark-mode div::v-deep .modal-content {
        border-color: #2d3748;
        background-color: #1a202c;
    }
</style>

<style>
    @import "../../../css/vue-simple-calendar/dist/style.css";
    @import "../../../css/vue-simple-calendar/static/css/default.css";
    @import "../../../css/vue-simple-calendar/static/css/holidays-us.css";
</style>