<template>
    <dl class="gap-4">
        <jig-dd>
            <template #dt>Start Date:</template>
            {{moment(model.start_date).format('MM-DD-YYYY hh:mm')}}
        </jig-dd>
        <jig-dd>
            <template #dt>End Date:</template>
            {{moment(model.end_date).format('MM-DD-YYYY hh:mm')}}
        </jig-dd>
            <jig-dd>
            <template #dt>Group:</template>
            {{ model.group ? model.group.name : '-' }}
        </jig-dd>
        <jig-dd>
            <template #dt>Module:</template>
            {{ model.module ? model.module.name : '-' }}
        </jig-dd>
        <jig-dd>
            <template #dt>Session Type:</template>
            {{ model.session_type ? model.session_type.type : '-' }}
        </jig-dd>
        <jig-dd>
            <template #dt>Sale:</template>
            {{ model.sale ? model.sale.name : '-' }}
        </jig-dd>
        <jig-dd>
            <template #dt>User:</template>
            {{ model.user ? model.user.name : '-' }}
        </jig-dd>
    </dl>
</template>

<script>
    import JigDd from "@/JigComponents/JigDd.vue";
    import InertiaButton from "@/JigComponents/InertiaButton.vue";

    import { defineComponent } from "vue";
    import moment from 'moment'

    export default defineComponent({
        name: "ShowSessionsForm",
        props: {
            model: Object,
        },
        components: {
            InertiaButton,
            JigDd,
        },
        data() {
            return {}
        },
        mounted() {},
        computed: {
            flash() {
                return this.$page.props.flash || {}
            }
        },
        methods: {moment}
    });
</script>

<style scoped>

</style>
