<template>
    <dl class="gap-4">
        <jig-dd>
            <template #dt>Name:</template>
            {{ model.name }}
        </jig-dd>
        <jig-dd>
            <template #dt>Type:</template>
            {{ model.type }}
        </jig-dd>
        <jig-dd>
            <template #dt>Color:</template>
            {{ model.color ? model.color : model.classes }}
        </jig-dd>
        <jig-dd>
            <template #dt>Start Date:</template>
            {{ model.start_date ?  moment(model.start_date).format('MM-DD-YYYY hh:mm') : moment(model.startDate).format('MM-DD-YYYY hh:mm')}}
        </jig-dd>
        <jig-dd>
            <template #dt>End Date:</template>
            {{ model.end_date ?  moment(model.end_date).format('MM-DD-YYYY hh:mm') : moment(model.endDate).format('MM-DD-YYYY hh:mm')}}
           
        </jig-dd>
    </dl>
</template>

<script>
    import JigDd from "@/JigComponents/JigDd.vue";
    import InertiaButton from "@/JigComponents/InertiaButton.vue";

    import { defineComponent } from "vue";
    import moment from 'moment'

    export default defineComponent({
        name: "ShowEventsForm",
        props: {
            model: Object,
        },
        components: {
            InertiaButton,
            JigDd,
        },
        data() {
            return {}
        },
        mounted() {},
        computed: {
            flash() {
                return this.$page.props.flash || {}
            }
        },
        methods: {moment}
    });
</script>

<style scoped>

</style>
