<template>
    <form class="w-full" @submit.prevent="storeModel">
        
        <div class=" sm:col-span-4">
            <jet-label for="name" value="Name" />
            <jet-input class="w-full" type="text" id="name" name="name" v-model="form.name"
                       :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.name}"
            ></jet-input>
            <jet-input-error :message="form.errors.name" class="mt-2" />
        </div>
            
        <div class=" sm:col-span-4">
            <jet-label for="level" value="Level" />
            <jet-input class="w-full" type="text" id="level" name="level" v-model="form.level"
                       :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.level}"
            ></jet-input>
            <jet-input-error :message="form.errors.level" class="mt-2" />
        </div>
            
        <div class=" sm:col-span-4">
            <jet-label for="average" value="Average" />
            <jet-input class="w-full" type="text" id="average" name="average" v-model="form.average"
                       :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.average}"
            ></jet-input>
            <jet-input-error :message="form.errors.average" class="mt-2" />
        </div>
            
        <div class=" sm:col-span-4">
            <jet-label for="start_date" value="Start Date" />
            <jig-datepicker class="w-full"
                            data-date-format="Y-m-d H:i:s"
                            :data-alt-input="true"
                            data-alt-format="Y-m-d H:i:s"
                            data-default-hour="9"
                            :data-enable-time="true"
                            :data-time_24hr="true"
                            name="start_date"
                            v-model="form.start_date"
                            id="start_date"
                            :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.start_date}"
            ></jig-datepicker>
            <jet-input-error :message="form.errors.start_date" class="mt-2" />
        </div>
            
        <div class=" sm:col-span-4">
            <jet-label for="end_date" value="End Date" />
            <jig-datepicker class="w-full"
                            data-date-format="Y-m-d H:i:s"
                            :data-alt-input="true"
                            data-alt-format="Y-m-d H:i:s"
                            data-default-hour="9"
                            :data-enable-time="true"
                            :data-time_24hr="true"
                            name="end_date"
                            v-model="form.end_date"
                            id="end_date"
                            :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.end_date}"
            ></jig-datepicker>
            <jet-input-error :message="form.errors.end_date" class="mt-2" />
        </div>
            
        <div class=" sm:col-span-4">
            <jet-label for="total_hours" value="Total Hours" />
            <jet-input class="w-full" type="number" id="total_hours" name="total_hours" v-model="form.total_hours"
                       :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.total_hours}"
            ></jet-input>
            <jet-input-error :message="form.errors.total_hours" class="mt-2" />
        </div>
                
        <div class="mt-2 text-right">
            <inertia-button type="submit" class="font-semibold bg-success disabled:opacity-25" :disabled="form.processing">Submit</inertia-button>
        </div>
    </form>
</template>

<script>
    import JigDatepicker from "@/JigComponents/JigDatepicker.vue";
    import JetInput from "@/Jetstream/Input.vue";
    import JetLabel from "@/Jetstream/Label.vue";
    import InertiaButton from "@/JigComponents/InertiaButton.vue";
    import JetInputError from "@/Jetstream/InputError.vue"
    import {useForm} from "@inertiajs/inertia-vue3";
    import { defineComponent } from "vue";

    export default defineComponent({
        name: "CreateModulesForm",
        components: {
            InertiaButton,
            JetInputError,
            JetLabel,
             JigDatepicker,
             JetInput,
                                    
        },
        data() {
            return {
                form: useForm({
                    name: null,
                    level: null,
                    average: null,
                    start_date: null,
                    end_date: null,
                    total_hours: null,
                                                            
                }, {remember: false}),
            }
        },
        mounted() {
        },
        computed: {
            flash() {
                return this.$page.props.flash || {}
            }
        },
        methods: {
            async storeModel() {
                this.form.post(this.route('admin.modules.store'),{
                    onSuccess: res => {
                        if (this.flash.success) {
                            this.$emit('success',this.flash.success);
                        } else if (this.flash.error) {
                            this.$emit('error',this.flash.error);
                        } else {
                            this.$emit('error',"Unknown server error.")
                        }
                    },
                    onError: res => {
                        this.$emit('error',"A server error occurred");
                    }
                },{remember: false, preserveState: true})
            }
        }
    });
</script>

<style scoped>

</style>
