<template>
    <dl class="gap-4">
        <jig-dd>
            <template #dt>Name:</template>
            {{ model.name }}
        </jig-dd>
        <jig-dd>
            <template #dt>Level:</template>
            {{ model.level }}
        </jig-dd>
        <jig-dd>
            <template #dt>Average:</template>
            {{ model.average }}
        </jig-dd>
        <jig-dd>
            <template #dt>Start Date:</template>
            {{moment(model.start_date).format('MM-DD-YYYY hh:mm')}}
        </jig-dd>
        <jig-dd>
            <template #dt>End Date:</template>
            {{moment(model.end_date).format('MM-DD-YYYY hh:mm')}}
        </jig-dd>
        <jig-dd>
            <template #dt>Total Hours:</template>
            {{ model.total_hours }}
        </jig-dd>
    </dl>
</template>

<script>
    import JigDd from "@/JigComponents/JigDd.vue";
    import InertiaButton from "@/JigComponents/InertiaButton.vue";

    import moment from 'moment'
    import { defineComponent } from "vue";

    export default defineComponent({
        name: "ShowModulesForm",
        props: {
            model: Object,
        },
        components: {
            InertiaButton,
            JigDd,
        },
        data() {
            return {}
        },
        mounted() {},
        computed: {
            flash() {
                return this.$page.props.flash || {}
            }
        },
        methods: {moment}
    });
</script>

<style scoped>

</style>
