<template>
    <form class="w-full" @submit.prevent="storeModel">
        
        <div class=" sm:col-span-4">
            <jet-label for="reason" value="Reason" />
            <jet-input class="w-full" type="text" id="reason" name="reason" v-model="form.reason"
                       :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.reason}"
            ></jet-input>
            <jet-input-error :message="form.errors.reason" class="mt-2" />
        </div>
                            <div class=" sm:col-span-4">
            <jet-label for="session" value="Session" />
            <infinite-select :per-page="15" :api-url="route('api.sessions.index')"
                             id="session" name="session"
                             v-model="form.session" label="id"
                             :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.session}"
            ></infinite-select>
            <jet-input-error :message="form.errors.session" class="mt-2" />
        </div>
            <div class=" sm:col-span-4">
            <jet-label for="student" value="Student" />
            <infinite-select :per-page="15" :api-url="route('api.students.index')"
                             id="student" name="student"
                             v-model="form.student" label="name"
                             :class="{'border-red-500 sm:focus:border-red-300 sm:focus:ring-red-100': form.errors.student}"
            ></infinite-select>
            <jet-input-error :message="form.errors.student" class="mt-2" />
        </div>

        <div class="mt-2 text-right">
            <inertia-button type="submit" class="font-semibold bg-success disabled:opacity-25" :disabled="form.processing">Submit</inertia-button>
        </div>
    </form>
</template>

<script>
    import JetInput from "@/Jetstream/Input.vue";
    import InfiniteSelect from '@/JigComponents/InfiniteSelect.vue';
    import JetLabel from "@/Jetstream/Label.vue";
    import InertiaButton from "@/JigComponents/InertiaButton.vue";
    import JetInputError from "@/Jetstream/InputError.vue"
    import {useForm} from "@inertiajs/inertia-vue3";
    import { defineComponent } from "vue";

    export default defineComponent({
        name: "CreateAbsentsForm",
        components: {
            InertiaButton,
            JetInputError,
            JetLabel,
                         JetInput,                                     InfiniteSelect,
        },
        data() {
            return {
                form: useForm({
                    reason: null,
                                        "session": null,
"student": null,
                    
                }, {remember: false}),
            }
        },
        mounted() {
        },
        computed: {
            flash() {
                return this.$page.props.flash || {}
            }
        },
        methods: {
            async storeModel() {
                this.form.post(this.route('admin.absents.store'),{
                    onSuccess: res => {
                        if (this.flash.success) {
                            this.$emit('success',this.flash.success);
                        } else if (this.flash.error) {
                            this.$emit('error',this.flash.error);
                        } else {
                            this.$emit('error',"Unknown server error.")
                        }
                    },
                    onError: res => {
                        this.$emit('error',"A server error occurred");
                    }
                },{remember: false, preserveState: true})
            }
        }
    });
</script>

<style scoped>

</style>
